<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Добавить нового клиента</title>
</head>
<body>
<h1>Добавить нового клиента</h1>
<form th:action="@{/clients}" th:object="${client}" method="post">
  <label>ФИО: <input type="text" th:field="*{fullName}" required /></label><br/>
  <label>Дата рождения: <input type="date" th:field="*{birthDate}" required /></label><br/>
  <input type="submit" value="Сохранить"/>
</form>
<a href="/clients">Назад к списку клиентов</a>
</body>
</html>